:root {
  --mc: hsl#000;
  --cc: hsl(51, 39%, 93%);
  --fill: hsl(43, 88%, 46%);
  --header100: 4rem;
  --bio-pic100: 15rem;
  --bio-pic200: calc(2 * var(--bio-pic100));
  --bio-pic300: calc(3 * var(--bio-pic100));
  --gap100: 3rem;
  --gap50: calc(var(--gap100) / 2);
  --gap150: calc(1.5 * var(--gap100));
  --gap200: calc(2 * var(--gap100));
  --gap300: calc(3 * var(--gap100));
  --stack-block100: 3rem;
  --stack-block200: calc(2 * var(--stack-block100));
  --stack-block300: calc(3 * var(--stack-block100));
  --stack-block400: calc(4 * var(--stack-block100));
}

.dark-mode {
  --mc: hsl(60, 3%, 15%);
  --cc: hsl#fff;
  --fill: hsl(213, 34%, 47%);
}

