/* top: root */
header {  z-index: 10; }

/* main.intro: same stacking context as header */
.spiral, .tip, .toggle-weather {  z-index: 10; }

.projects{  z-index: 4; }
/* |- projects */

.tech-stack {  z-index: 3; }
/* |- tech-stack */

.career  { z-index: 2; }
/* |- career */
  .social {    z-index: 1; }

.about {  z-index: 1; }
/* |- about */
