main section {
  padding-left: var(--gap300);
  padding-right: var(--gap150);
}

main section:not(.intro), .intro > .content {
  --stack-offset: .25rem;
  --stack-start: calc(var(--header100) + var(--stack-offset));
  --section-short: var(--bio-pic100);
  --section-med: var(--bio-pic200);
  --section-tall: var(--bio-pic300);
  min-height: var(--section-short);
  display: grid;
  grid-template-columns: var(--bio-pic100) minmax(var(--bio-pic200), var(--bio-pic300));
  align-items: flex-start;
  column-gap: var(--gap100);
}

main section:not(.intro) p:first-of-type {
  margin-top: var(--gap100);
}

h1 strong {
  font-family: 'Source Code Pro';
  font-weight: 600;
  letter-spacing: -.03em;
  word-spacing: -.2em;
}

.tip {
  padding-top: .6rem;
  position: absolute;
  font-family: 'Sanchez';
  font-size: 5rem;
  color: rgb(210, 193, 40);
  transform: translate(-1.4rem, -1.5rem);
  mix-blend-mode: multiply;
  cursor: pointer;
  font-weight: 400;
  opacity: .6;
}

.tip:hover {
  opacity: 1;
}

.social {
  display: flex; 
  flex-direction: row;
  align-items: center;
  column-gap: var(--gap100);
  padding-top: var(--gap100);
  padding-left: var(--gap150);
  padding-bottom: .5rem;
  align-items: stretch;
}

.social a:hover:not(.resume) {
  border-style: none;
}

.resume {
  font-size: larger;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  text-transform: uppercase;
}

.resume {
  border-bottom-color: inherit
}

.social img {
  width: 1.9rem;
}

.bio p {
  font-weight: 500;
}

.wrapper.portrait {
  max-width: var(--bio-pic100);
  max-height: var(--bio-pic100);
  border-radius: 50%;
  overflow: hidden;
} 

img.portrait {
  max-width: 130%;
  height: auto;
  mix-blend-mode: luminosity;
  object-fit: cover;
  object-position: calc( -1 * var(--gap100)) calc( -1 * var(--gap150));
  opacity: 0.6;
}

.tip {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear, opacity .1s;
}

h4 {
  text-transform: capitalize;
  margin-left: auto;
}

main > section:not(.intro) h4, .career .social {
  position: sticky; 
  margin-bottom: 0;
}

.projects h4 {
  top: var(--stack-start);
}

.tech-stack h4 {
  top: calc(var(--stack-start) + var(--stack-block100));
}

.career h4 {
  top: calc(var(--stack-start) + var(--stack-block200));
}

.career .social {
  top: calc(var(--header100) + var(--stack-block200));
}

.about h4 {
  top: calc(var(--stack-start) + var(--stack-block300));
}

.tech-stack p:last-child:not(h4) {
  margin-bottom: var(--stack-block200);
}

.about:not(.intro) p:last-child:not(h4) {
  margin-bottom: var(--stack-block400);
}

.projects {
  height: var(--section-med);
  background-color: hsla(100, 70%, 60%, .15);
  border-bottom: .1rem solid hsla(100, 70%, 60%, .01);
  border-bottom-left-radius: 1rem;
    position: sticky;
  top: calc(var(--stack-block100) + var(--header100) - var(--stack-offset) - var(--section-med));
}

.tech-stack {
  height: var(--section-med);
  background-color: hsla(150, 70%, 60%, .15);
  border-bottom: .1rem solid hsla(150, 70%, 60%, .01);
  border-bottom-left-radius: 1rem;
    position: sticky;
  top: calc(var(--stack-block200) + var(--header100) - var(--stack-offset) - var(--section-med));
}

.career {
  height: var(--section-tall);
  background-color: hsla(200, 70%, 60%, .15);
  border-bottom: .1rem solid hsla(200, 70%, 60%, .01);
  border-bottom-left-radius: 1rem;
    position: sticky;
  top: calc(var(--stack-block300) + var(--header100) - var(--stack-offset) - var(--section-tall));
}

.about {
  height: var(--section-tall);
  background-color: hsla(250, 70%, 75%, .15);
  border-bottom: .1rem solid hsla(250, 70%, 60%, .01);
  border-bottom-left-radius: 1rem;
    position: sticky;
  top: calc(var(--stack-block400) + var(--header100) - var(--stack-offset) - var(--section-tall));
}

.career .content {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  align-items: flex-start;
  align-content: flex-start;
}

.projects .content {
  display: grid;
  grid-template-rows: auto;
}

.titles {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: space-between;
}

.projects .content p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: var(--stack-offset);
  line-height: 2;
}
